{% load mptt_tags %}
<div id="v-menu">
<div id="main-nav">
    <button id="menu" class="btn">Каталог товаров<span class="arrow"></span></button>
        <ul>
        {% for top_category in categories %}
            
            <li id="cat_{{ top_category.id }}" class="main-category">
                    <a class="a_category" href="{% url lfs_category top_category.slug %}">
                        {% if top_category.get_icon.url %}
                            <img src="{{ top_category.get_icon.url }}" alt="icon" />
                        {% endif %}
                        {{ top_category.name }}</a>
                    {% if not top_category.is_leaf_node %}
                    <div id="sub-nav">
                    <div id="sub_cat_{{ top_category.id }}" class="sub-category">
                        <div class="row-fluid">
                            {% for category in top_category.get_children %}
                        <a class="red"  href="{% url lfs_category category.slug %}">{{ category.name }}</a>
                    {% endfor %}
                    </div> </div></div>
                    {% endif %}
               
                
            </li>
            
            
        {% endfor %}
            <li  class="main-category">
                    <a class="a_category" href="/page/uslugi_sto">Услуги СТО</a>
            </li>
        </ul>
    </div>
</div>    

<script type="text/javascript">

    $(".main-category").hover(
        function(){
            $(".sub-category").css("display", "none");
            $(".sub-category").css("visibility", "hidden");
            var cat_id = $(this).attr("id");
            //$("#sub-nav").css("display", "block");
            $("#sub_"+cat_id).css("visibility", "visible");
            $("#sub_"+cat_id).css("display", "block");
        }
    );
    $("#v-menu").hover(
        function(){},
        function(){
           // $("#sub-nav").css("display", "none");
        }
    )

    var menu_btn = $("#menu");
    var vertical_menu = $("#v-menu");

    vertical_menu.css("display", "block");
    $("#menu .arrow").css("background-image", "none");
    $("#menu .arrow").css("display", "none");

</script>
