{% for field in fields %}

    {% if field.type == 'choice' %}
        {% if field.required %}
        <div class="control-group required">
        {% else %}
        <div class="control-group">
        {% endif %}
            <label class="control-label" for="id_{{ field.ident }}">{{ field.name }}</label>
            <div class="controls">
                <select class="field-type checkout-selector {{ field.css_class }}" name="{{ field.ident }}" id="id_{{ field.ident }}">
                    {% for o in field.options %}
                        {% if field.init == o %}
                            <option value="{{ o }}" selected="selected">{{ o }}</option>
                        {% else %}
                            <option value="{{ o }}">{{ o }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

    {% elif field.type == 'char' %}
        {% if field.required %}
        <div class="control-group {%if field.errors %}error{% endif %} required">
        {% else %}
        <div class="control-group">
        {% endif %}
            <label class="control-label" for="id_{{ field.ident }}">{{ field.name }}</label>
            <div class="controls">
                {% if field.required %}
                <input id="id_{{ field.ident }}" class="required_input {{ field.css_class }}" type="text" name="{{ field.ident }}" value="">
                {% else %}
                <input id="id_{{ field.ident }}" class="{{ field.css_class }}" type="text" name="{{ field.ident }}" >
                {% endif %}
                {% if field.errors %}{% for e in field.errors %}<p class="help-block error">{{ e }}</p>{% endfor %}{% endif %}
            </div>
        </div>
    {% endif %}

{% endfor %}
