{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% block section %}my-account{% endblock %}
{% load bootstrap_toolkit %}

{% block breadcrumbs %}
    {% breadcrumbs _("Change your e-mail address") %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Change your e-mail address' %}</h1>
</div>

    <form action="{% url lfs_my_email %}"
          method="post" class="form-horizontal">
        {% csrf_token %}
        {{ email_form|as_bootstrap:"horizontal" }}
                    <input type="hidden"
                           name="action"
                           value="email" />
        <div class="form-actions">
                    <input class="btn btn-primary"
                           type="submit"
                           name="change_email"
                           value="{% trans 'Save e-mail address' %}" />
        </div>
    </form>
{% endblock %}
