{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}

<div class="header">
    <h3>{% trans 'Edit address' %}</h3>
</div>
{% if form %}
    <form action="{% url lfs_edit_address address.id %}"
          data="{% url lfs_edit_address address.id %}"
          method="post" class="form-horizontal modal-form"
          name="address-form">
        {% csrf_token %}
        <div id="address_form">
        {{ form|safe }}
        </div>
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
{% else %}
    <h3>{% trans 'Data saved' %}</h3>
    <script type="text/javascript">
        window.location = '{% url lfs_my_account %}';
    </script>
{% endif %}
