{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block section %}password-reset-confirm{% endblock %}
{% load bootstrap_toolkit %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password reset") %}
{% endblock %}

{% block wrapper %}
    {% if validlink %}
        <h1 class="first-heading">
            {% trans 'Enter new password' %}
        </h1>
        <p>
            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
        <form action=""
              method="post">
            {% csrf_token %}
            <div class="field">
                <div>
                    {{ form.new_password1.errors }}
                    {{ form.new_password1|as_bootstrap:"vertical" }}
                </div>
            </div>
            <div class="field">
                <div>
                    {{ form.new_password2.errors }}
                    {{ form.new_password2|as_bootstrap:"vertical" }}
                </div>
            </div>
        
                <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}" />
      
        </form>
    {% else %}
        <h1 class="first-heading">
            {% trans 'Password reset unsuccessful' %}
        </h1>
        <p>
            {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
        </p>
    {% endif %}
{% endblock %}
