{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block section %}password-reset{% endblock %}
{% load bootstrap_toolkit %}


{% block wrapper %}
<div > 
    <h1>{% trans 'Password reset' %}</h1>
</div>
    <p>
        {% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    </p> 
    

     <form action=""
          method="post">
        {% csrf_token %}
        <div class="field">
            <div>
                {{ form.email.errors }}
                {{ form.email|as_bootstrap:"vertical" }}
            </div>
        </div>
        <input class="btn btn-primary" type="submit"
               value="{% trans 'Reset my password' %}" />
    </form>

{% endblock %}