{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% block title %}{% trans 'Password reset successful' %}{% endblock %}
{% block section %}password-reset-done{% endblock %}
{% load bootstrap_toolkit %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password reset") %}
{% endblock %}

{% block wrapper %}
    <h1 class="first-heading">
        {% trans 'Password reset successful' %}
    </h1>
    <p>
        {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
    </p>
{% endblock %}