{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
<div class="header">
    <h3>{% trans 'Ask question' %}</h3>
</div>
{% if form %}
    <form action="{% url lfs_product_question product_id %}"
          data="{% url lfs_product_question product_id %}"
          method="post" class="form-horizontal modal-form">
        {% csrf_token %}
        {{ form.email|as_bootstrap:"horizontal" }}
        {{ form.question|as_bootstrap:"horizontal" }}
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="{% trans 'Ask question' %}" />
        </div>
    </form>
{% else %}
<h3>{% trans 'Thank you for your question' %}</h3>
{% endif %}