{% extends "lfs/base.html" %}
{% load scms_tags %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% block left-slot-wrapper %}
    {# if SlotLeft #}
        <div id="left-slot-container"> {# Class is set automatically #}
            <div class="left-slot">
                {% block left-slot %}<div class="info-menu-block"><div class="portlet"><div class="portlet-header">
            <h4><a href='/info/'>{{ info_page_name }}</a></h4>
        </div>{% insert_portlet 'scms_menuportlet' 'left'%}</div></div>{% lfs_portlet_slot 'Left' %}{% endblock %}
            </div>
        </div>
    {# endif #}
    <script>
          config.left_portlet_count++;
    </script>
<div class="span10 pull-right">
<link rel="stylesheet" type="text/css" href="{% static 'css/info-page.css' %}">
    {% if page %}
    <ul class="breadcrumb" >
            <li>
                <a href="/" ><i class="icon-home"></i></a> /
            </li>
            <li>
                <a href='/info/'>{{ info_page_name }}</a> /
            </li>
            <li>
                <a href="{% url 'scms_view_category' page_category.slug %}"> {{ page_category.name }}</a> /
            </li>
            <li>
                <span>{{ page.title }}</span>
            </li>
    </ul>
        <h1>{{ page.title }}</h1>
        <div class="info-page-create-date">{{ page.create_date }}</div>
        <div class="info-page-full-text">
            {% if page.icon %}
                <img src="{{MEDIA_URL}}{{page.icon}}" alt="">
            {% endif %}
            {{ page.text|safe }}
        </div>
        
    {% else %}
         {% if page_category %}
            <ul class="breadcrumb" >
        <li>
            <a href="/" ><i class="icon-home"></i></a> /
        </li>
        <li>
            {% if page_category %}<a href='/info/'>{{ info_page_name }}</a> /
        </li>
        <li>
            <span> {{ page_category.name }}</span>{% endif %}
        </li>
    </ul>

             <div class="info-all-news-block">
               <h1>{{ page_category.name }}</h1>
            {% autopaginate category_news page_category.pagination %}
            {% for n in category_news %}
            <div class="well">
                <div class="title">
                    <h4>{{ n.title }}</h4>
                </div>
                {% if n.icon %}
                    <img class="news_icon pull-left" src='{{MEDIA_URL}}{{n.icon}}'>
                {% endif %}
                <div class="description">{{ n.preamble|safe }}</div>
                {% if n.text %}
                    <div class="more pull-right">
                        <a href="/info/{{ page_category.slug }}/{{ n.slug }}.html">{% trans 'Read more'%}</a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            </div>
            {% paginate %}
        {% endif %}
    {% endif %}
</div>

{% endblock %}
{% block body_bottom %}
<script type="text/javascript">
    mediator.publish('change_slots_width', "span2", "span8", "span10");
</script>
{% endblock %}