{% load i18n %}
<div class="row-fluid">
    {% with amount=cart.get_amount_of_items %}
    {% if amount == 0 or not cart %}
    <div class="span4">
        <img src="{{ STATIC_URL }}/img/empty-cart.png">
    </div>
    <div class="span8">
        <p>{% trans "Cart is empty." %}</p>
    </div>
    {% else %}
    <div class="span12">
        <p>{% trans "Товаров" %}: <span  class="red">{{ amount|floatformat }}</span></p>
        <p>{% trans 'На сумму' %}: <span  class="red">{{ total_price|floatformat }} {{ SHOP.default_currency.abbr }}</span></p>
        <div class="row-fluid">
        <div class="span4">
            <img src="{{ STATIC_URL }}/img/full-cart.png">
        </div>
        <div class="span8"> 
            <a class="btn" href="{% url lfs_checkout %}">{% trans "В корзину" %}</a>
            <a id="clear-cart" >{% trans 'Очистить' %}</a>
        </div>
        </div>

    </div>
    {% endif %}
    {% endwith %}
</div>

<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
