<p>Интернет магазин “АВТОЗАП” занимается оптовой и розничной продажей запасных частей к автомобилям КрАЗ, МАЗ, ГАЗ, УАЗ, ВАЗ, ПАЗ, а так же продажей аккумуляторов, шин, смазочных материалов и других товаров.<br />
Широкий выбор новых и б/у запчастей, представленный в нашем магазине, постоянно пополняется для того, чтобы удовлетворить любые запросы покупателей. Мы работаем с крупными поставщиками и можем предложить все необходимые детали к вашему авто. Сделав покупку в интернет магазине “АВТОЗАП” покупатели всегда остаются довольными качеством товара и вниманием персонала.<br />
Вам нужна помощь в выборе запчасти или подборе аналогов? Вы всегда сможете получить профессиональную консультацию позвонив нашим специалистам. Если в данный момент нужной Вам запчасти нет в каталоге запчастей, Вы так же можете обратиться к нам по телефону или оставить заявку на сайте. В кратчайшие сроки мы найдем интересующие Вас запчасти и отправим их для Вас в любую точку Украины.<br />
Мы основываем свою работу на индивидуальном подходе к каждому клиенту. Для постоянных покупателей нашего интернет магазина действует накопительная система скидок и товарный кредит.</p>