{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}{% load vertical_menu_tags %}
{% load seo_data %}
{% load snippets_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    {% snippets 'Head top' %}
    <meta charset="utf-8">
    <meta name="author" content="7bits and aquaweb">
    <meta name="viewport" content="width=device-width">
    {% if main_page %} <meta name='yandex-verification' content='45608808e855ab16' /> 
    <meta name="google-site-verification" content="KTUK_BNv4Mxd9M61cH1cEv9-6rXlDBnk9tofvKVOPlM" />
    {% endif %}
    <title>{% block title %}{% get_title %}{% endblock %}</title>      
    <meta name="keywords" content="{% get_keywords %}" />
    <meta name="description" content="{% get_description %}" />   
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" />
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script>__locale='{{ LANGUAGE_CODE }}';</script>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/light/light.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dcmegamenu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/white.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
        <link type="text/stylus" rel="stylesheet" 
            href="{{ STATIC_URL }}styles/styles.styl" charset="utf-8">
        <link type="text/stylus" rel="stylesheet" 
            href="{{ STATIC_URL }}styles/vertical_slider.styl" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.custom.css">
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.less" charset="utf-8">
        <link type="text/stylus" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.styl" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/css/skin/skin.css" />
    {% endcompress %}

    {% compress js %}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/gettext.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/ru.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/uk.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/shop.coffee" /> 
        {# All plugins should be loaded after this line #}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/vertical_slider.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-1.3.19.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcmegamenu.1.3.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/maskedinput.js"></script>

        <script  type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.custom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/script.custom.coffee"></script>     
    {% endcompress %}    
    {% include 'lfs/extra_css.html' %}    
    {% snippets 'Head bottom' %}
</head>
<body class="{% block section %}{% endblock %}">
    {% snippets 'Body top' %}
    <div id="seo-text-wrapper">
        {% get_seo_text_new %}
    </div>

<div id="wrap">
    <div class="header-shadow"></div> {# Div for shade line #}
    <div class="main container"> {# Use class "container-fluid" on the following div for making complete website fluid #}
    <div id="main-background"></div>
    
    {# ------------------- HEADER ------------------#}
    <div class="top-block">
            
            <div id="top-bar-container"> {# Client script use this container for insert top bar here by ajax #}
                <img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif">
            </div>

            <div class="row-fluid print-hide header-top">
                {% block header %}
                <div class="span3">
                    <div class="logo">
                    <a href="/"><img src="{% if SHOP.image %}/media/{{ SHOP.image }}{% else %}{{ STATIC_URL }}img/logo.png{% endif %}" alt="Logo"></a>
                    </div>
                </div>
                <div class="span6">                
                    <div class="row-fluid">
                        {% static_block "header" %}
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            {% include "lfs/search.html" %}
                        </div>
                    </div>
                </div>
                <div class="span1">
                    {# empty #}
                </div>
                <div class="span2">
                    {# Client script use this container for load cart here by ajax #}
                    <div id="cart-container"><img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif"></div>
                </div>
                {% endblock %}
            
            </div>

    </div>
    {# ------------------- END HEADER ------------------#}
   <div class="row-fluid">
    </div>
    <div id="content">

        {% block wrapper %}
        <div class="row-fluid page-content {%if not main_page%}white-layer{% endif %}">
                
                {# ------------------- LEFT container ------------------#}
                
                {% block left-slot-wrapper %}
                {# if SlotLeft #}
                        <div id="left-slot-container" class="span3"> {# Class is set automatically #}
                            <div class="left-slot">
                                {% vertical_menu %}
                                {% block left-slot %}{% lfs_portlet_slot 'Left' %}{% endblock %}
                            </div>
                        </div>
                {# endif #}
              
                {# ------------------- END LEFT container ------------------#}
                
                {# ------------------- MIDDLE container ------------------#}
                <div id="middle-slot-container" > {# Class is set automatically #}
                    
                    <div class="middle-slot">
                            
                            
                        <div class="row-fluid">
                        {# Div for tab panel #}
                        
                        {%if not main_page%}
                        <div class="span12">
                            <div id="breadcrumb">{% block breadcrumbs %}{% endblock %}</div> {# Div for breadcrumbs #}
                        {% block content %}{% endblock %}
                        </div>
                        {% endif %}

                        {% if main_page %}
                            <div class="span12 slider-content">
                                <div class="slider-background">
                                    <div class="slider-background-white">

                                                {% include "lfs/index_slider.html" %} 
                                        
                                    </div>
                                </div>
                                <br>
                            </div>
                        {% endif %}
                        </div>

                    </div>
                        
                    </div>
                    {# ------------------- END MIDDLE container ------------------#}     
                
                {# ------------------- RIGHT container ------------------#}
                {% block right-slot-wrapper %}
                    {# if SlotRight #}
                        <div id="right-slot-container"> {# Class is set automatically #}
                            <div class="right-slot">
                                {% block right-slot %}{% lfs_portlet_slot 'Right' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
            {% endblock %}
            {# ------------------- END RIGHT container ------------------#}
         </div>{# END .row-fluid page-content #}
          {% endblock %}        
        
            {% if main_page %}
            <div class="bottom-content">

                    {% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}

                    <div class="about">
                         {% include "lfs/index/about.html" %}
                            
                    </div>
            </div>
            {% endif %}

        </div>{# END id content #}
    </div>

    <div id="push" style="display: none"></div>
    
    {# ------------------- FOOTER ------------------#}
    <div id="footer">
        <div class="container">
            
            <div class="row-fluid">
            
                <div class="span3">
                    <div class="row-fluid">
                            <div class="span9">
                            <img src="/static/img/auto_logo_footer.png" alt="Logo">
                            </div>
                    </div>
                    
                    <div>
                        {% block footer %}
                            
                            {% for action in actions %}
                                
                                <a href="{{action.link}}">{{action.title}}</a>

                                {% for child in action.children.all %}
                                <li><a href="{{child.link}}"> {{child.title}}</a></li>
                                {% endfor %}
                     
                            {% endfor %}

                        {% endblock %}
                    </div>
                </div>

                {% static_block "footer" %}
            </div>

        </div>
    </div>
    {# ------------------- END FOOTER ------------------#}


    </div>
    </div>
    {% include "lfs/modal.html" %}
    {% snippets 'Body bottom' %}

    {% include 'lfs/extra_js.html' %}
    {% block body_bottom %}
        <script>
            mediator.publish('change_slots_width', "span3", "span6", "span9");
            config.left_portlet_count++;
        </script>
    {% endblock %}
<script type="text/javascript"> _shcp = []; _shcp.push({widget_id : 592875, widget : "Chat"}); (function() { var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true; hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://widget.siteheart.com/apps/js/sh.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hcc, s.nextSibling); })();</script>
</body>
</html>
