<div id="slider-block">
    
    <div class="slider-wrapper">
        <div id="index_slider" class="nivoSlider">
            <img src="/static/img/test1.png" alt="" title="#data1" data-thumb="/static/img/nivo-nav_thumb.png" />
            <img src="/static/img/test2.png" alt="" title="#data2" data-thumb="/static/img/nivo-nav_thumb.png"/>
            <img src="/static/img/test3.png" alt="" title="#data3" data-thumb="/static/img/nivo-nav_thumb.png"/>
            <img src="/static/img/test4.png" alt="" title="#data4" data-thumb="/static/img/nivo-nav_thumb.png"/>
        </div>
    </div>


    <div id="data1">
        <div class="text-block">
            <div class="title">Запчасти на <span>КрАЗ</span></div>
            <div class="description">Любые запчасти на КрАз моделей 63221 и 65032</div>           
        </div>
    </div>

    <div id="data2">
         <div class="text-block">
            <div class="title">Запчасти на <span>МАЗ</span></div>
            <div class="description">Любые запчасти на МАЗ моделей 651705, 651705, 551605, 533702 и 206060</div>
        </div>   
    </div>

    <div id="data3">
         <div class="text-block">
            <div class="title">Запчасти на <span>УАЗ</span></div>
            <div class="description">Любые запчасти на КрАз моделей 63221 и 65032</div>
        </div>   
    </div>
    <div id="data4">
        <div class="text-block">
            <div class="title">Запчасти на <span>ГАЗ</span></div>
            <div class="description">Любые запчасти на ГАЗ моделей 33081, 330232 и 32213</div>
        </div>
    </div>

</div>
<script type="text/javascript">
$(window).load(function() {
    $('#index_slider').nivoSlider({
        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
        //slices: 15, // For slice animations
        boxCols: 8, // For box animations
        boxRows: 4, // For box animations
        animSpeed: 500, // Slide transition speed
        pauseTime: 4000, // How long each slide will show
        startSlide: 0, // Set starting Slide (0 index)
        directionNav: false, // Next & Prev navigation
        controlNav: true, // 1,2,3... navigation
        controlNavThumbs: true, // Use thumbnails for Control Nav
        pauseOnHover: true, // Stop animation while hovering
        manualAdvance: false, // Force manual transitions
        prevText: 'Prev', // Prev directionNav text
        nextText: 'Next', // Next directionNav text
        randomStart: false, // Start on a random slide
        beforeChange: function(){}, // Triggers before a slide transition
        afterChange: function(){
            $('.nivo-control img').attr('src', '/static/img/nivo-nav_thumb.png');
            $('.nivo-control.active img').attr('src', '/static/img/nivo-nav_active_thumb.png');
        }, // Triggers after a slide transition
        slideshowEnd: function(){}, // Triggers after all slides have been shown
        lastSlide: function(){}, // Triggers when last slide is shown
        afterLoad: function(){
            $('.nivo-control.active img').attr('src', '/static/img/nivo-nav_active_thumb.png');
        } // Triggers when slider has loaded
    });
});

</script>

