{% load i18n %}
{# Search form #}
<div class="search-block">
<form class="form-search header-search" id="search-form" action="{% url lfs_search %}" autocomplete="off">
    <input type="hidden" name="livesearch" value="1" />
    <div id="search-background">
        <input id="search-input" name="q" autocomplete="off" data-url="{% url lfs_livesearch %}"  class="input-large search-query" type="text" placeholder="Поиск">
        <button type="submit"><i class="search-icon"></i></button>
    </div>
</form>
<div class="livesearch-wrapper">
    <div id="livesearch-result" class="dropdown-menu"></div>
</div>
</div>