{% extends "lfs/base.html" %}
{% load i18n lfs_tags pagination_tags sshop_tags %}
{% load i18n lfs_tags sshop_tags %}

{% include "lfs/catalog/categories/product/toolbar.html" %}


{% block title %}
    {% trans 'Search results' %} - {{ block.super }}
{% endblock %}

{% block section %}search-results{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Search results") %}
{% endblock %}

{% block wrapper %}
<div id="search_res">
<div id="search-page-header" class="page-header">
    <h1 class="first-heading">{% trans 'Search results' %}</h1>
</div>
    <label for="search">{% trans 'Search' %}:</label>
    <div class="row-fluid"><div class="span6">
    <form action="{% url lfs_search %}"
          class="search-results-form form-inline">
        <div class="input-append">
            <input id="search-input" name="q"  class="input-large search-query" type="text" value="{{ q }}" placeholder=" {% trans 'Search products...' %}">
            <button class="btn" type="submit">{% trans 'Go!' %}</button>
        </div>
    </form>
    <p class="search-results-description">
        {% trans 'You searched for' %} <span class="search-results-query">"{{ q }}"</span>.
        {% blocktrans count total as counter %}1 product was found.{% plural %}{{ counter }} products were found.{% endblocktrans %}
    </p>
    </div>

    {% if products %}

         {% if not paginator %}
            {% autopaginate products 10 %}
        {% endif %}
        <div class="span4 offset2">
        {% sorting %}<br>
        </div></div>

        <div class="row-fluid"><div class="span12">



    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <div class="wrap_img">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a> 
                </div>                       
            </div>
            <div class="span7 offset1">
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
                <span class="product_code">Код - {{ product.id_1c }}<br /></span>
                <div class="product-description">{{ product.get_short_description|safe }}</div>
                <div class="product-statuses">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}                
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
                </div>
                <div class="product-form">
                <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                </div>
            </div>
            <div class="span2">
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>                
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form"
                method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline" name="quantity" type="text" value="1" />
            <button class="btn btn-danger buy">{% trans "Купить" %}</button>
            </form>
            {% endif %}
            </div>
        </div>
    </div>
        {% endfor %}



 <div class="pagination">
      {% paginate %} 
 </div>
    </div></div>
    </div>
   
    {% endif %}
{% endblock %}

{% include "lfs/catalog/categories/product/products_navigation.html" %}

<script type="text/javascript">
    function notebook_add_product(product_id){
        $.ajax({
            url: "/notebook/add-product/" + product_id + "/",
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url 'lfs_notebook' %}");
            }
        });
    };
    function compare_add_product(product_id) {
        $.ajax({
            url: "/comparison/add-product/" + product_id +"/",
            dataType: "json",
            success: function(msg){
                $("#compare").text("Добавлен к сравнению");
                $("#compare").attr("href", "{% url 'lfs_comparison' %}");
            }
        });
    };
</script>