// Custom styles

div.category-toolbar
    margin-bottom 20px

    h2.category-caption
        padding 0
        margin 0

    div.category-view-toolbar
        margin-right 8px

div.product-toolbar
    margin-bottom 20px

    h2.product-caption
        padding 0
        margin 0


#products
    div.product-list-item
        margin-bottom 10px

    div.product-caption
        font-size 130%

    span.price {
        font-size:125%;
        padding:5px 10px 5px 10px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        /* Use for rotating price (IE9+) */
        -webkit-transform:rotate(355deg);
        -moz-transform:rotate(355deg);
        -o-transform:rotate(355deg);
        -ms-transform:rotate(355deg);
    }

#product-inline
    div.add-to-cart-form
        padding-right 8px

        a.btn
            float left
            margin-right 8px
        input.quantity
            float left
            margin-right 8px
            width 40px

    div.cart-toolbar
        padding 8px 0
