//################################
@font: Verdana, sans-serif;
@font2: Arial, sans-serif;
@font3: Tahoma, sans-serif;
@black: #010101;
@dark: #071c37;
@grey: #5d5d5d;
@light-grey: #ededed;
//h
@red: #ff0000;
@dark-blue: #182a3f;
 
//##################################
 
body{
    font-family: @font;
    background: @dark-blue;
    background: url(/static/img/body-background.jpg) top;
    background-attachment: fixed;
}
h1, h2, h3, h4 {
    font-family: @font;
    color: #071c37;
}
div,span,p,ul,ol,li,a{
    font: @font;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 26px;
}
.white-layer{
    background: white;
    min-height: 672px;
    .middle-slot {
        padding-right: 10px;
    }
}
#content-wrapper{
    display: block;
    width: 100%;
    height: 100%;
}
.buy{
    width: 100px;
    padding: 6px 0;
}
#main-background{
    .opacity();  
    background: white;
    background-attachment: fixed;
    display: block;
    width: 100%;
    width: 1204px;
    height: 660px;
    margin: 0 auto;
    position: absolute;
}
.breadcrumb {
    background: none;
    margin: 0;
    padding: 8px 0px;
}
.page-header {
    padding: 0;
    margin: 0;
}
.main.container{
    .box-shadow-rgba();
    max-width: 1204px;
    width: 100%;
    .top-block{
        display: block;
        padding: 0;
        position: relative;

        #top-bar-container{
            position: relative;
            min-height: 40px;
            margin-bottom: 20px;
            .header-nav{
                margin-bottom: 5px; 
            }
            .top-bar-background{
                background: @dark-blue;
                height: 100%; 
                position: absolute;  
                left: 0; 
                background: #182A3F;
                display: block;
                max-width: 1204px; 
                width: 100%;
                .opacity(0.9);        
            }
            > div > div[class*=span]:first-child{
                padding-left: 25px;
                .navbar .nav > li:first-child  a:first-child{
                        padding-left: 0;
                }
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                    font-family: @font;
                    font-size: 15px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
                    border-right: 1px dashed white;
                    padding: 0 15px;
                    margin-top: 10px;
                }
            }
            > div > div[class*=span]:last-child{
                padding-right: 25px;
            }
            .navbar .nav > li > a{
                text-shadow: none;
                color: white;
            }



        }
        .navbar .nav{
            margin-right: 0;
        }
        .navbar .nav > li > a {
            padding-right: 10px;
            padding-left: 5px;
        }
        .navbar .nav > li:last-child > a {
            padding-right: 0;    
        }

    }
   .header-top{
        display: block;
        min-height: 120px;
        
        > div[class*=span]:first-child{
            padding-left: 25px;
        }
        > div[class*=span]:last-child{
            padding-right: 25px;
        }

       
        .phone-numbers{
            text-align: right;
            margin-bottom: 10px;
            .tel{
                &:first-child{
                    margin-right: 10px;
                }
                font-family: @font2;
                font-size: 27px;
                color: @dark;
                span{
                    color: @dark;
                }
            }         
        }

        #cart-container{
            .row-fluid {
                text-align: left;
            }
            #clear-cart {
                color: #333;
                text-decoration: underline;
                font-size: 12px;
                cursor: pointer;
            }
            img {
                margin: 0px;
                text-align: left;
            }
            p {
                text-align: left;
                font-size: 12px;
                font-weight: bold;
                span.red {
                    color: #ff0000;
                    font-size: 17px;
                    font-weight: normal;
                }
            }
            .btn {
                padding: 3px 15px;
                font-size: 13px;
            }
            div[class*=span]:last-child{
                text-align: right;
            }
        }
    }
   .header-line{
    display: inline-block;
    width: 100%;
    height: 5px;
    background: url(/static/img/underline.png);
    margin-bottom: 10px;
    }
    #middle-slot-container{
        padding: 0;
        margin-bottom: 20px;
    }
    .main-menu_cont{
        display: inline-block;
        min-height: 405px;
        height: 100%;
        position: relative;
        margin-bottom: 43px;
        width: 100%;
        z-index: 20000;
        .main-menu-background{
            .border-radius(0, 4px, 4px, 0);
            background: @dark-blue;
            min-height: 405px;
            height: 100%;
            height: inherit;
            opacity: (0.9);
            width: 100%;
        }
        .navbar-inner{        
            background: none;
            border: none;
            .box-shadow(0,0,0,#fff);
            padding: 0;
            li{
                float: none;
            }
            
            .sf-menu {
               margin: 0 10px 0 0;
               background: @dark-blue;
               width: 100%;
               .border-radius(0, 4px, 4px, 0);
               padding: 20px 0 0;
               min-height: 386px;
               position: absolute;
               .opacity(0.92);
               > li{
                padding: 5px 0;
               }
               li{
                    &:hover{
                        background: #bec1c6;
                        a{
                            color: #253449;
                            text-shadow: none;
                        }
                    }
                    display: block;
                    ul{
                        position: absolute;
                        left: 100%;
                        width: 100%;
                        height: 100%;
                        min-height: 400px;
                        margin-top: -35px;
                        padding-bottom: 5px;
                        > li:first-child{
                            .border-radius(0, 4px, 0, 0);
                        }
                        > li:last-child{
                            .border-radius(0, 0, 4px, 4px);
                        }
                        li{
                            &:hover{
                                background: #ffffff;
                            }
                            background: #bec1c6;
                            width: 100%;
                            min-width: 256px;
                            padding: 5px 0;
                            a{
                                padding-left: 15px;
                                color: #253449;
                            }
                        }
                    }
                    a{
                        &:hover{
                            text-decoration: none;
                        }
                        font-size: 14px;
                        color: white;
                        font-weight: bold;
                        margin-left: 20px;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
                    }
                }
            }
        }
    }

    .slider-content{
        display: inline-block;
        position: relative;
        right: 8px;
        .slider-background{
            .border-radius(4px, 0, 0, 4px);
            background: @dark-blue;
            opacity: (0.9);
            width: 100%;
            padding: 10px 0 10px 9px;
        }
        .slider-background-white{
            .border-radius(4px, 0, 0, 4px);
            background: white;
            min-height: 386px;
            height: inherit;
            opacity: (1);
            width: 100%;
        }
        #slider-block{
            max-height: 386px;
        }
    }
    input.search-block:focus{
        border-color: @light-grey;
        .box-shadow();
    }
    .search-block{
        float: right; 
        position: relative;
        max-width: 464px;
        width: 100%;
            #search-background{
                display: block;
                max-width: 463px;
                width: 100%;
                height: 39px;
                background: @dark-blue;
                .border-radius(4px, 4px, 4px, 4px);
            }

            #search-input{
                &:focus{
                    border:none;
                    outline: 0;
                    .box-shadow();
                }
                border: none;
                .border-radius(3px, 3px, 3px, 3px);
                background: none;
                mix-width: 412px;
                width: 88%;
                height: 27px;
                position: relative;
                background: white;
                margin-top: 6px;
                margin-left: 5px;
                padding: 0 4px 0 5px;
            }
            button{
                border: none;
                .border-radius();
                background: none;
                padding-top: 10px;
                float: right;
                padding-right: 10px;
                .search-icon{
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    background: url(/static/img/search-icon.png);
                }         
            }

    }
    .livesearch-wrapper {
        z-index: 10000;
    }
    #livesearch-results-table tr:hover {
        background-color: #ddd;
        color: #fff;
    }
    .table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background: none;
    }
    .lfs-default.padding-top.table.table-striped.search-results tr {
        &:hover {
            background: #eee;
        }
        td {
            .product-price {
                 .product-price {
                    span {
                        color: #ff0000;
                    }
                }
            }
        }
    }
    table.lfs-default {
        border-collapse: collapse;
    }
    #content{
        position: relative;
        z-index: 1000;
        .contact-block{
            display: block;
            background: #;  
            min-height: 125px;
            .vcard{
                .title{
                    display: block;
                    font-family: @font;
                    font-size: 13px;
                    color: @grey;
                }
                span{
                    font-family: @font;
                    font-size: 18px;
                    font-weight: bold;
                    color: @black;
                    span{
                        color: @red;
                    }
                }
            }
        }
        .about{
            display: block;
            clear: both;
            p {
                color: #646464;
            }
        }
        .first-heading{
            font-size: 19px;
            font-weight: bold;
        }
    }

}
#v-menu {
    margin: 0px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 6px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 6px rgba(50, 50, 50, 0.75);
    .border-radius(8px,8px,8px,8px);
    font-size: 14px;
    text-align: center;
    width: 280px;
    #menu {
        float: none;
        width: 100%;
        padding: 15px 0px;
        color: #fff;
        text-decoration: none;
        border: none;
        font-weight: bolder;
        display: inline-block;
        background: #182a3f;
        opacity: (0.87);
        z-index: 1;
        text-align: left;
        padding-left: 30px;
        border-radius: 0px 8px 0px 0px;
    }
    #main-nav {
        ul {
            margin: 0;
            width: auto;
            padding: 0px; 
            .main-category {
                width: 100%;
                list-style: none;
                position: relative;
                z-index: 1;
                &:hover{
                    background: #bdc0c5;
                    color: #192940; 
                }
                a{
                    float: none;
                    width: 100%;
                    padding: 5px 0px;
                    color: #fff;
                    text-decoration: none;
                     border: none;
                    font-weight: bolder;
                    display: inline-block;
                    background: #182a3f;
                    opacity: (0.87);
                    z-index: 1;
                    &:hover{
                        background: #bdc0c5; 
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                         box-shadow: none;
                         color: #192940; 
                         padding-right: 200px;
                         text-decoration: underline;
                   }
                } 
                }
            }
        }
        #sub-nav {
            position: absolute;
            z-index: 10000;
            left: 280px;
            .border-radius(0px,8px,8px,8px);
            background: #bdc0c5; 
            top: 0;
            min-width: 300px;
            display: none;
                a {
                    background: none!important;
                    text-align: left;
                    padding: 4px 10px!important;
                    float: left!important;
                    color: #192940!important;
                        &:hover {
                            background: none!important;
                            padding-right: 0px!important;
                            text-decoration: underline;
                        }
                }
                    }
}
.main-category:hover #sub-nav {
    display: block!important;
}
.main-category:last-child a{
    border-radius: 0 0 8px 0;
}
.main-category:hover a {
    background: none!important;
    color: #192940!important;
}
#sub-nav:hover .main-category a {
    padding-right: 200px;
    background: #bdc0c5!important; 
}
#sub-nav:hover .main-category {
    background: #bdc0c5!important;
} 
#sub-nav:hover .main-category {
    background: #bdc0c5!important; 
} 
.main-category:hover span{
    padding-right: 200px!important;
} 
.main-category:hover  {
    padding-right: 1px;
}

.main-nav.navbar .nav > .active > a, 
.main-nav.navbar .nav > li > a:hover, 
.main-nav.navbar .nav > .active > a:hover {
    background: none;
    text-decoration: underline;
    color:black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.header-shadow{
    display: none;
}


//nivo-slider
.nivo-caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: none !important;
    color: @dark;
    width: 100%;
    z-index: 8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: visible !important;
    display: none;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;

    .text-block{
        position: absolute;
        top: 50px;
        left: 60px;
        .title{
            font-family: @font3;
            font-size: 35px;
            color: @red;
            font-weight: normal;
            display: block;
            max-width: 400px;
            line-height: 90%;
            text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
            span{
                color: @black;
            }

        }
        .description{
            font-size: 13px;
            color: @grey;
            max-width: 155px;
            margin-top: 15px;
        }
    }

}

#index_slider{
    display: block;
    max-height: 386px;
} 


div[id*=data]{
    display: none;
}

#slider-block .nivo-controlNav {
    position:absolute;
    bottom:30px; /* Put the nav below the slider */
    right: 0;
    z-index: 1000;    
    img {
        display:inline; /* Unhide the thumbnails */
        position:relative;
        margin-right:10px;
    }
}
div.points{
    display: inline-block;
    width: 100%;
    background: url(/static/img/underline.png) repeat-x bottom;
    height: 5px;

}
.block-title{
    font-size: 17px;
    color: @dark;
    font-family: @font;
}
#footer{
    color: #fbfbfb;
    min-height: 70px;
    height: 100%;
    background: @dark-blue;
    display: block;
    max-width: 1204px;
    width: 100%;
    margin: 0 auto;
    .container{
        padding: 15px 15px 0 15px;
    }
    .aqua-link{
        color: #d7d7db;
        text-decoration: underline;
    }
    .points-line{
        padding-bottom: 20px;
    }
    .container > .row-fluid > [class*="span"]:nth-child(2){
        text-align: right;
    }
    .container > .row-fluid > [class*="span"]:last-child [class*="span"]{
        float: right;
    }
    .tel{
        font-style: @font2;
        font-size: 26px;
        color: #d7d7db;

    }
    div[class*=span]:last-child{
        text-align: right;
    }
}
//end nivo-slider

//topseller
.topseller-portlet{
    display: block;
    height: 100%;
    background: @dark-blue;
    max-width: 1204px;
    width: 100%;
    margin-bottom: 0;
    .portlet-header{
        border: none;
        position: relative;
        top: -19px;
        display: block;
        background: @dark-blue;
        width: 312px;
        height: 35px;
        padding-top: 5px;
        text-align: center;
        margin: 0 auto;
        .border-radius(6px, 6px, 0 , 0);
        h4{
            font: @font;
            font-size: 17px;
            color: white;
        }
    }
    .portlet-body{
        padding: 18px, 11px, 18px, 11px;
        margin-top: -20px;
        .row-fluid {
            text-align: center;
        }
        .portlet-item{
            display: block;
            max-width: 580px;
            width: 100%;
            height: 100%;
            min-height: 290px;
            background: #fdfbfc;
            display: inline-block;
            .border-radius(6px);
            margin: 3px;
            .product-description{
                display: inline-block;
                text-align: left;
                vertical-align: top;
                margin-top: 15px;
                max-width: 200px;
                .product-code{
                    margin-bottom: 10px;
                    color: black;
                    font-family: @font2;
                    font-size: 13px;
                }
                .ptoduct-title{
                    margin-bottom: 10px;
                    height: 66px;
                    overflow: hidden;
                    a{
                        font-style: @font3;
                        color: #404756;
                        font-size: 22px;
                    }
                }
                
                .product-price{
                    font-style: @font3;
                    font-size: 15px;
                    color: #010101;
                    font-weight: bold;
                    span{
                        color: @red;
                        font-size: 32px;
                        .int-var{
                            font-weight: normal;
                        }
                        .float-var{
                           font-size: 15px; 
                           font-weight: normal;
                        }
                        .price-val{
                            font-size: 15px;
                            color: #010101;
                        }
                        span {
                            font-size: 15px;
                            color: #010101;
                        }
                    }
                }
                .count-product{
                    margin: 10px 0;
                    span{
                        font-family: @font3;
                        font-weight: bold;
                    }
                    input[name="quantity"]{
                        max-width: 20px;
                        max-height: 24px;
                        margin: -1px 0 0 5px;
                        padding: 3px 0px 3px 10px;
                    }
                }
                .buy{
                    margin-top: 15px;
                }
            }            
            .image-wrapper {                   
                display: inline-block;
                width: 306px;
                height: 215px;
                margin-left: 23px;
                margin-top: 15px;
                text-align: center;
                margin-right: 10px;
                float: left; 
                border: 1px solid #fdfbfc;
                &:hover {
                    .border-radius(3px);
                    border: 1px solid #c7c9ce;
                    background: #fff;
                    -webkit-box-shadow: 0px 5px 3px rgba(211, 208, 203, 0.75);
                    -moz-box-shadow:    0px 5px 3px rgba(211, 208, 203, 0.75);
                    box-shadow:         0px 5px 3px rgba(211, 208, 203, 0.75);
                }
                img{
                    max-height: 204px;
                    width: 290px;
                }
            }
        }
        .portlet-item.last{
            padding: 10px 0;
            margin-bottom: 20px;
        }

    }
}
.portlet {
    .image-wrapper {
        height: 110px;
    }
}
//end topseller
.vertical-slider {
    height: 290px!important;
     ul li {
        margin-left: 0px!important;
    }
}
#colorbox {
    z-index: 9999;
}
.bottom-content{
    background: white;
    padding: 0 0 10px 0;
    position: relative;
    .about{
        padding: 15px;
        color: #030303;
        h1.first-heading{
            display: none;
        }
        p{
            font: @font2;
            font-size: 13px;
            color: #030303;
        }
    }
}
.filter-options{
    .span3:nth-child(odd){
        max-width: 20px;
    }
    input[id*=filter-min-],input[id*=filter-max-]{
        width: 100%;
    }
}
#nav_account {
       background: #182a3f;
    opacity: (0.87);
    width: 100%;
    border-radius: 0 8px 8px 0; 
    a {
        color: #fff;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}
#nav_account .nav > li > a:hover {
    background: none;
}
.categories-portlet.portlet {
    margin-top: 10px;
    background: #182a3f;
    opacity: (0.87);
    width: 100%;
    border-radius: 0 8px 8px 0;
    .portlet-body img{
        display: none;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        color: #999;
        font-weight: bold;
        li {
            a {
                color: #fff;
                font-weight: bold;
            }
        }
    }
    .portlet-header {
        h4 {
            color: #fff;
            padding-left: 30px;
        }
    }
}
#login_reg {
    background: #fff;
    padding: 0 10px;
}
.login.well {
    margin-bottom: 0px;
}
#wrap_account {
    background: #fff;
    min-height: 475px;   
}
#wrap_search {
    background: #fff;
    overflow: hidden;
    padding: 10px;
    min-height: 465px;
}
#wrap_cart {
    background: #fff;
    min-height: 475px;
    padding: 10px;
}
.filtered-navigation-portlet.portlet {
    padding-right: 20px;
}
.filter-actions {
    margin-top: 10px;
}
.filter-options input[id*=filter-min-], .filter-options input[id*=filter-max-] {
    padding: 0;
}
.thank_you {
    background: #fff;
}
.label-popover.label {
    padding:0;
}
// css category //
.wrap_img {
    text-align: center;
    padding: 6px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #999;
}
#products div.product-list-item {
    margin-bottom: 25px;
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #999;
    &:hover {
        border: 1px solid #192940;
        -moz-box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
        -webkit-box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
        box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
    }
}
.product-table-item {
    border: 1px solid #999;
    border-radius: 8px;
    padding: 13px 10px;
    background: #eee;
    min-height: 230px;
    max-height: 230px;
    &:hover {
        border: 1px solid #192940;
        -moz-box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
        -webkit-box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
        box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
    }
}
#products div.product-caption {
    height: 42px;
    overflow: hidden;
}
.lfs-default.padding-top.table.table-striped {
    background: #fff;
}
.search-results .pagination {
    background: #fff;
}
.category-image {
    padding: 10px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 8px;
}
table td.category-row {
    background: #eee;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #999;
    width: 50%;
    h2 {
        font-weight: normal;
        color: #06323d;
    }
        &:hover {
        border: 1px solid #192940;
        -moz-box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
        -webkit-box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
        box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
    }
}
table.lfs-default {
    border-collapse: inherit;
    border-spacing: 7px;
}
.add-to-cart-form .btn.btn-danger.buy {
    margin: 0;
    display: block;
}
#products span.price {
    -webkit-transform: none!important;
    -moz-transform: none!important;
    -o-transform: none!important;
    -ms-transform: none!important;
    box-shadow: none!important;
    background: none;
    font-weight: bold;
    color: #195867;
    padding: 10px 0px;
}
.product-detail .price {
    -webkit-transform: none!important;
    -moz-transform: none!important;
    -o-transform: none!important;
    -ms-transform: none!important;
    box-shadow: none!important;
    background: none;
    font-weight: bold;
    padding: 0!important;
}
#cboxLoadedContent {
    max-height: 600px;
}
.cboxPhoto {
    max-height: 600px;   
}
#cboxTitle {
    position: absolute;
    bottom: 1px;
    left: 50px;
    text-align: center;
    width: 80%;
    color: #949494;
    line-height: 12px;
    font-size: 13px;
    font-weight: bold;
}
#product-form .input-small {
    width: 35px;
    padding-left: 0px!important;
}
#products {
    td {
        width: 50%;
    }
}
.label {
    background: none!important;
    color: #333;
}
.label-success, .badge-success {
    background: none!important;
    color: #B11E1E;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    border: none;
}
.ui-tabs .ui-tabs-nav {
    background: #eee;
}
.checkout-form.postal-address.form-horizontal {
    background: #fff;
    padding: 10px;
    margin-bottom: 0px;
}
.product-title {
    height: 40px;
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-item { 
    &:hover{
        background: #eee;
    }
}
.featured-products-portlet.portlet {
    .portlet-header {
        background: #fdfbfc;
        border-radius: 8px 8px 0px 0px;
        padding: 5px;
    }
}
.my-account{
    #content {
        background: #fff;
        min-height: 475px;
       /* padding: 20px;*/
    }
}
.my-addresses{
    #content {
        background: #fff;
        min-height: 475px;
    }
} 
#customer-addresses, #customer-phones {
    .row {
        margin-left: 0;
    }
}
// end css category//
//mixins################################################################

.gradient (@color1:#ffffff,@color2:#d8d8d8){
    background: @color1; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDhkOGQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  @color1 15%, @color2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,@color1), color-stop(100%,@color2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @color1 15%,@color2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @color1 15%,@color2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @color1 15%,@color2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @color1 15%,@color2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 ); /* IE6-8 */

}
.box-shadow (@x: 0, @y: 0, @blur: 0, @color: #000) { //by default no box-shadow
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.box-shadow-rgba (@x: 0, @y: 6px, @blur: 17px, @r:50, @g:50, @b:50, @a: 0.75){
    box-shadow: @x @y @blur rgba(@r, @g, @b, @a);
    -moz-box-shadow: @x @y @blur rgba(@r, @g, @b, @a); 
    -webkit-box-shadow: @x @y @blur rgba(@r, @g, @b, @a);
}
.opacity (@opacity: 0.75){
    moz-opacity: @opacity; /* Mozilla 1.6 и ниже */
    -khtml-opacity: @opacity; /* Konqueror 3.1, Safari 1.1 */
    opacity: @opacity; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */ 
    .ie_opacity(@opacity*100)
}
.ie_opacity (@opacity){
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=@opacity); /* IE 5.5+*/
}

.border-radius (@top-left: 0, @top-right: 0, @bottom-right: 0, @bottom-left: 0){
    -webkit-border-top-left-radius: @top-left;
    -moz-border-radius-topleft: @top-left;
    border-top-left-radius: @top-left;

    -webkit-border-top-right-radius: @top-right;
    -moz-border-radius-topright: @top-right;
    border-top-right-radius: @top-right;

    -webkit-border-bottom-right-radius: @bottom-right;
    -moz-border-radius-bottomright: @bottom-right;
    border-bottom-right-radius: @bottom-right;

    -webkit-border-bottom-left-radius: @bottom-left;
    -moz-border-radius-bottomleft: @bottom-left;
    border-bottom-left-radius: @bottom-left;

}
.border-radius (@radius: 3px){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

#cboxCurrent{
    display: none!important;
}

.register{
    padding: 19px;
    margin-left: -31px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    min-height: 653px;
    margin-bottom: 0px;
}
.order{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin: 0px 25px 25px 0px;
}

#main-background{
  /*  height: 959px;*/
}
.my-orders{
    #content{
        background: #fff;
    }
}

#compare{
    overflow-x: scroll;
    margin-right: 20px;
}
#search_res{
    background:#fff!important;
    padding: 5px 20px 5px 20px;
}

#search_res div.product-list-item {
    margin-bottom: 25px;
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #999;
    margin-right: 148px;
    font-size: 16px!important;
    &:hover {
        border: 1px solid #192940;
        -moz-box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
        -webkit-box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
        box-shadow: 0px 0px 13px 0 rgba(54,69,102,.5);
    }

    .product-price{
        .label{
            font-size: 18px;
        }
    }
}

#search_res div.product-caption {
    height: 42px;
    overflow: hidden;
}
form[name="obratnyy_zvonok"] { 
    width: 250px;
}
.form-actions{
    background: transparent!important;
}
.white-layer {
    padding: 12px;
    width: 98%;
}
.nav-list>.active>a, .nav-list>.active>a:hover {
background-color: #071c37;
}

.nav-tabs>.active{
    background-color: #eee!important;
}
.nav-tabs>.active>a{
    background-color: #eee!important;
}
.checkout{
    .nav-tabs{
        margin: 0!important;
        background: #fff;
    }
}


.password-reset, .password-reset-done, .password-reset-confirm, .password-reset-complete{
    .main.container #content {
    background: #fff;
    min-height: 465px;
    margin-bottom: -20px;
    padding-left: 10px;
    }
}