{% load i18n %}
{% load mptt_tags %}
{% load lfs_tags %}
{% if categories %}
<div class="categories-portlet portlet">
<div class="portlet-header">
    <h4>{{ title }}</h4>
</div>
<div class="portlet-body">
    {% for category,structure in categories|tree_info %}    
    
            {% if forloop.first %}
             
                {% if category.level == 0 %}
                    <img src="/media/{{category.image}}" alt="{{category.name}}">
                {% endif %}


                {% if structure.new_level %}
                    <ul class="root"><li class="level-{{ category.level }}" id="category-item-{{ category.id }}">
                {% else %}
                    </li><li class="level-{{ category.level }}">
                {% endif %}

            {% else %}
                
                {% if structure.new_level %}
                    <ul class="menu" id="category-submenu-{{ category.id }}">
                    <li class="level-{{ category.level }}" id="category-item-{{ category.id }}">
                {% else %}
                    </li><li class="level-{{ category.level }}">
                {% endif %}
           
            {% endif %}

            <a {% if category.id == current_id %}class="current"{% endif %} href="{{ category.get_absolute_url }}">{{ category.name }}</a> 
            {% if category.product_count > 0 %}
                ({{ category.product_count }})
            {% endif %}

            {% for level in structure.closed_levels %}</li></ul>{% endfor %}

    {% endfor %}

</div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
