<div class="row-fluid">
<div class="span3 main-menu_cont">
    {% block tabs %}
    {{ SHOP.prerendered_menu|safe }}
    {% endblock %}
</div>
</div>

{% if main_page %}
<p style="padding-top:{{size}}px;"></p>
<script type="text/javascript">
$('#breadcrumb').attr('style','margin-left:200px')
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}