{% load i18n %}
{% load lfs_tags sshop_tags %}

{% if products %}
    <div id="portlet_{{ slot.id }}_{{ portlet_id }}" class="featured-products-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>

        <div class="portlet-body">
            
            {% if not slideshow %}
                {% for product in products %}
                <div class="portlet-item{% if forloop.last %} last{% endif %}{% if slot.type_of_slot == 5 %} horizontal{% endif %}">

                                <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}" title="{{ product.get_short_description|safe }}">
                                {% if product.get_image %}
                                    <a href="{{ product.get_absolute_url }}">        
                                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />        </a>
                                    {% else %}
                                    <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title }}"
                                    class="product-image" />
                                {% endif %}
                                    </a>
                                </div>
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>
                    <div class="product-price">
                        {% format_as_price product.price %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="products-wrapper slideshow">
                  <ul id="categories-carousel" class="jcarousel-skin-tango">
                    {% for product in products %}
                    <li>
                        <div id="tab-{{ forloop.counter }}" class="portlet-item">
                            <div class="product-data">
                                        <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}">
                                {% if product.get_image %}
                                    <a href="{{ product.get_absolute_url }}" title="{{ product.get_short_description|safe }}">        
                                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />        </a>
                                    {% else %}
                                    <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title }}"
                                    class="product-image" />
                                {% endif %}
                                    </a>
                                </div>
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>
                                <div class="product-price">
                                    {% format_as_price product.price %}
                                </div>
                            </div>
                        </div>
                    </li>    
                    {% endfor %}{# slideshow products #}
                </ul>
                {# tabs #}
                <ul style="display:none">
                {% for product in products %}
                    <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <script type="text/javascript">
                    $(".jcarousel-skin-tango").jcarousel({
                            scroll: 1,
                            wrap: 'circular',
                        });
            </script>
            {% endif %}{# slideshow check #}
        </div>{# portlet-body #}
    </div>
<script type="text/javascript">
{% if slot.slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot.slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
