{% load i18n %}

{% load sshop_tags %}

{% if topseller %}
    <div class="topseller-portlet portlet">

        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>

        <div class="portlet-body">
            <div class="row-fluid">
            {% for item in topseller %}
            {% with item.product as product %}
                <div class="portlet-item {% if forloop.last %} last{% endif %}">
                    
                    <div class="image-wrapper">
                        {% if product.get_image.image.url_60x60|length > 1 %}
                        <img src="{{ product.get_image.image.url_200x200 }}">
                        {% else %}
                        <img src="/static/img/nopic.jpg">
                        {% endif %}
                    </div>

                    <div class="product-description">
                        <div class=product-code>
                            <span>Код - {{ product.id_1c }}</span>
                        </div>

                        <div class="ptoduct-title">
                            <a href="{{ product.get_absolute_url }}">{{ product.get_name }}</a>    
                        </div>

                        <div class="product-price">
                            Цена: 
                            <span>
                                {{ product.price}}
                                    <span>{{ SHOP.default_currency.abbr }}</span>
                          
                            </span>
                        </div>
                        {% if product.is_deliverable %}
                        <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                            class="add-to-cart-form" method="post">
                        {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        <div class=count-product> 
                        <span>Количество:</span><input class="input-small inline" name="quantity" type="text" value="1" />
                        </div>
                        <button class="btn btn-danger buy">{% trans "Купить" %}</button>
                        </form>
                        {% endif %}
                    </div>

                </div>
            {% endwith %}
            {% endfor %}
             </div> {# end row-fluid #}
        </div>{# portlet-body #}
    </div>
<script>


// $(function(){
//     $(".product-price span").each(function(){
//          var new_text1 = "",
//              $this = $(this);
//              new_text1 = $this.text().replace(/(.*?)(\,\d+)\s(руб)/g, "<span class=int-var>$1</span><span class=float-var>$2</span> <span class=price-val>$3</span>");
//             $this.html(new_text1);  
//     })
    
// })
{% if slot.slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot.slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}