{% load i18n lfs_tags %}
<div class="row-fluid category-toolbar">
    <div class="span12">
    <h2 class="category-caption pull-left">{{ category.name }} {% if filtered %}({{ products_count }}){% endif %} </h2>            

    <div class="pull-right">
    <div class="btn-group pull-left category-view-toolbar">
        <a href="{% url lfs_catalog_set_page_mode %}?mode=list" class="btn{% if page_mode == 'list' %} active{% endif %}"
            title="{% trans 'List' %}"><i class="icon-list"></i></a>
        <a href="{% url lfs_catalog_set_page_mode %}?mode=table" class="btn{% if page_mode == 'table' %} active{% endif %}"
            title="{% trans 'Table' %}"><i class="icon-th-large"></i></a>
    </div>
    <div class="pull-left">
    {% sorting %}
    </div>
    </div>
    </div>
</div> <!-- row-fluid -->